
/* line 1 : /Users/mk/src/mklabs/cssmap/node_modules/stylus/lib/functions/index.styl */

/* line 6 : /Users/mk/src/mklabs/cssmap/styles/stylus/index.styl */
body a {
  font: 12px/1.4 "Lucida Grande", Arial, sans-serif;
  background: #000;
  color: #ccc;
}

/* line 11 : /Users/mk/src/mklabs/cssmap/styles/stylus/index.styl */
form input {
  padding: 5px;
  border: 1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
